body {
    padding: 0;
    /*elimina el espacio interno de una pagina*/
    margin: 0;
    /*elimina los margenes*/
    background-image: url(fondo.webp);
    /*imagen de fondo*/
    min-height: 100vh;
    /*ase que el cuerpo mida como minimo el 100% de la ventana*/
    background-position: center;
    /*centra la imagen de fondo*/
    background-size: cover;
    /*ajusta el tamaño de la imagen de fondo*/
    display: flex;
    /*ase que sea flexible*/
    align-items: center;
    /*centra los elementos  */
    justify-content: center;
    /*centra el contenido*/
}

.login-form {
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 90%;
    /*modifica el ancho*/
    max-width: 450px;
    /*modifica el ancho maximo*/
    padding: 30px 40px;
    border-radius: 10px;
    /*redondea las esquinas*/
    color: white;
    /*color del texto*/
    backdrop-filter: blur(20px);
    /*filtro de desenfoque*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*agrega sombra*/
}

.form-heading {
    text-align: center;
    /*centra el texto*/
    font-size: 2em;
    /*modifica el tamaño de la fuente*/
    margin-bottom: 25px;
    /*agrega margen al boton*/
}

form {
    display: flex;
    flex-direction: column;
    /*cambia la direccion de los elementos*/
    gap: 30px;
    /*agrega espacio entre los elementos*/

}

form a {
    text-decoration: none;
    /*quita el subrayado del texto*/
    color: white;
}

.input-group {
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    height: 40px;
    /*modifica la altura*/
    border-radius: 40px;
    padding: 20px;

}

.input-group input {
    flex: 1;
    /*ocupa el espacio disponible*/
    background-color: transparent;
    border: 0;
    outline: 0;
    /*elimina el contorno*/
    font-size: 16px;
    color: white;
    min-width: 0;
}

.input-group input::placeholder {
    color: white;
}

.fogor-password {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
}

form a:hover {
    text-decoration: underline;
}

.submit {
    border-radius: 30px;
    border: 0;
    outline: 0;
    font-size: 15px;
    font-weight: 500;
    /*modifica el grosor de la fuente*/
    padding: 10px;
    cursor: pointer;
    /*pone el cursor como puntero*/
}

.signup-link {
    text-align: center;
    font-size: 14.5px;
}

.signup-link a {
    margin-left: 8px;
    /*agrega margen a la izquierda*/
}